* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer {
    background-color: #111;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: #111;
    opacity: 0.9;
}

.socialIcons a:hover {
    background-color: #3bf40d;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}

.footerBottom {
    background-color: #111;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: white;
}
